body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ant-modal-close-x {
  font-size: 26px !important;
}

.ant-form-item-label label {
  color: #222222 !important;
}

.ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional):before {
  color: #222222 !important;
}

.big-btn {
  width: 394px !important;
  height: 81px !important;
  background: #22CF68 !important;
  border-color: #22CF68 !important;
  font-size: 24px !important;
}

.ant-input,
.ant-picker {
  width: 100%;
  min-height: 50px;
  padding: 10px 25px !important;
  border-radius: 25px !important;
  background: transparent !important;
  border: 2px solid rgba(34, 35, 40, 0.1) !important;
  color: #989898 !important;
  outline: none !important;
}

.ant-input:hover {
  background: transparent !important;
}

.ant-input:focus {
  background: transparent !important;
  border-color: rgba(34, 35, 40, 0.3) !important;
  box-shadow: none !important;
}

/*隐藏滚动条*/
::-webkit-scrollbar {
  display: none;
}